{% extends 'main/base.html' %}

{% block title %}
    Страница про нас
{% endblock %}

{% block content %}
    <h2>Что можно делать на сайте?</h2>
    <p>
        На главной странцие сайта находится список всех постов, отсортированных по дате создания (от старых к новым),
        кнопка для создания самих постов и поле для поиска записи по его названию. Каждый пост представляй собой ссылку,
        перейдя по которой можно ознакомиться с содержимым самого поста, а так же возможностью удаления и редактирования
        записей.
    </p>
    <h2>В чем суть сайта?</h2>
    <p>
        Данный сайт представляет собой личный блог студента Хачидзе Георгия (меня), в котором можно познакомиться со
        списком моих любимых рецептов :)
    </p>
{% endblock %}
